## Gestion d’une base de données SQLite

Derrière ce TP, il y a trois objectifs :

- Créer et manipuler une base de données SQLite
- Utiliser Python (sqlite3) pour interagir avec la BDD
- Rédiger des commandes SQL de base

In [1]:
import sqlite3

Avec sqlite3, la connextion avec une BDD fait intervenir deux objets :

- conn : objet connexion
- cur : objet curseur pour exécuter des commandes SQL

Pour créer une Connexion, on utilise sqlite3.connect() en passant en argument le fichier de la BDD "nom_de_la_base.db". Si la base n’existe pas, SQLite la crée automatiquement dans le fichier spécifié. <br>
L'objet Connection permet ensuite de créer un curseur, en appelant la méthode cursor, pour exécuter des commandes SQL.

Créer une base "students.db" dans le répertoire courant ainsi que les objets connexion et curseur nécessaires.

In [ ]:
# Votre code ici
conn = ...
cur = ...

Compléter le code suivant pour créer une table students avec les colonnes suivantes :

- id : entier, clé primaire
- name : texte
- age : entier

In [ ]:
cur.execute("""
CREATE TABLE IF NOT EXISTS ... (
    ... ... PRIMARY KEY,
    name TEXT,
    ... ...
)
""")
conn.commit()

Insérer les étudiants suivants dans la table :

| name    | age |
| ------- | --- |
| Alice   | 25  |
| Bob     | 30  |
| Charlie | 22  |

In [ ]:
students = ...
cur.executemany("INSERT INTO students (name, age) VALUES (?, ?)", students)
conn.commit()

Récupérer et afficher tous les étudiants.

In [ ]:
cur.execute("SELECT * FROM ...")
for row in cur.fetchall():
    print(...)

Compléter le code précédent pour ne récupérer que les étudiants dont l’âge est strictement supérieur à 24 ans. Pour cela, il faut rajouter WHERE condition dans la requête.

In [ ]:
# Votre code ici

C'est aujourd'hui l'anniversaire de Charlie et nous n'avons pas de mises à jour automatique des âges... Mettre à jour l'âge de Charlie à 23 ans. Vérifier l'effet de la commande.

In [ ]:
cur.execute("UPDATE ... SET ... = ? WHERE name = ?", (..., "Charlie"))
conn.commit()

In [ ]:
print(cur.execute("SELECT * FROM students WHERE name = 'Charlie'").fetchall())

Récupérer directement de la BDD les étudiants triés par âge croissant. La clause ORDER BY nom_du_champ ASC permet de réaliser ce tri.

In [ ]:
# Votre code ici

En reprenant la syntaxe précédente permettant de formatter les requêtes, deviner comment supprimer l'étudiant Bob et exécuter cette commande. Vérifier l'effet de cette commande.

In [ ]:
# Votre code ici

Fermer la connexion (trouver la syntaxe dans la documentation). Vérifier alors l'effet de l'exécution d'une requête après cette fermeture.

In [ ]:
# Votre code ici

Regarder le script example/equivalent_postgres.py et relever les points communs et les principales différences entre l'utilisation d'une BDD SQLite avec sqlite3 et POSTGRESQL avec psycopg2.