# <font color="purple"> Manipuler des variables </font>

### <font color="green"> 1- Opérations sur les chaînes de caractères </font>

*En utilisant la fonction [`print`](https://docs.python.org/3/library/functions.html#print), afficher sur une même lignes 80 "pipes", comme ceci :*

```
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
```

In [ ]:
# Votre code

### <font color="red"> Solution </font>

In [2]:
print("|" * 80)

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### <font color="green">2- Opérations sur les chaînes de caractères et les types numériques </font>

Essayer de deviner le résultat des opérations suivantes :

1. `(1 + 2) ** 4`
2. `"Na" * 4`
3. `"Na" + 4`
4. `("Na" + "Ni") * 4`
5. `("Na" * 4) / 4`
6. `"Na" + "4"`
7. `7 / 4`
8. `7 // 4`
9. `7 % 4`

Puis, vérifier les résultats en exécutant le code correspondant.

In [ ]:
# Votre code

### <font color="red"> Solution </font>

In [4]:
print((1 + 2) ** 4)
print("Na" * 4)
# print("Na" + 4) #TypeError: must be str, not int
print(("Na" + "Ni") * 4)
# print(("Na" * 4) / 4) #TypeError: unsupported operand type(s) for /: 'str' and 'int'
print("Na" + "4")
print(7 / 4)
print(7 // 4)
print(7 % 4)

81
NaNaNaNa
NaNiNaNiNaNiNaNi
Na4
1.75
1
3

### <font color="green">3- Conversion de types entre chaînes de caractères et types numériques  </font>

Essayer de deviner le résultat des opérations suivantes :

1. `int("2") * int("3")`
2. `str(2) * int("3")`
3. `str("2") * int(3)`
4. `int("2") + float("3.4")`
5. `str(2) * float(3)`
6. `str(3/4) * 2`

Puis, vérifier les résultats en exécutant le code correspondant.

In [ ]:
# Votre code

### <font color="red"> Solution </font>

In [6]:
print(int("2") * int("3"))
print(str(2) * int("3"))
print(str("2") * int(3))
print(int("2") + float("3.4"))
# print(str(2) * float(3)) #TypeError: can't multiply sequence by non-int of type 'float'
print(str(3/4) * 2)

6
222
222
5.4
0.750.75

### <font color="green">4- Conversion de types avec des variables booléennes </font>

Essayer de deviner le résultat des opérations suivantes :

1. `int(2) * bool(3)`
2. `str(2) * bool(3)`
3. `bool(0) * str(2)`

Puis, vérifier les résultats en exécutant le code correspondant.

In [ ]:
# Votre code

### <font color="red"> Solution </font>

In [8]:
print(int("2") * bool(3))
print(str(2) * bool(3))
print(bool(0) * str(2))

2
2